html
  head
    title!= title
    script(src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js")
    script(src="/public/script.js")
  body
    img(src="http://static.squarespace.com/static/500ad9c9e4b0e4a2502459b0/t/5313c5a1e4b06a95ceb61dbc/1393804707918/Elvis%20Costello.jpg")